@model FibMVC.Models.FibonacciMdl

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FiboPage</title>
</head>
<body>
    <div>
        <h1>HERE'S YOUR FIBO SEQUENCE!</h1>
        <br />
        <p>But not you can the number of outputs!! (shocking!)</p>
        <br />

        @Html.Action("FiboPartial")
    </div>
</body>
</html>
